<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4UEAtHu7DYjtswwl5qBXHIHgIEonoQ7g</string>
	<key>GCM_SENDER_ID</key>
	<string>87313991339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactlist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-contact-853e3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-contact-853e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87313991339:ios:999d312e1a40538d50d9ee</string>
</dict>
</plist>